<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="css/style.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sina Samavati">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>$pagetitle$ – Sina Samavati</title>
  </head>
  <body>
    <div class="row ma">
      <article class="row mv">
        <time>$date$</time>
        $body$
      </article>
    </div>
  </body>
</html>
