/*
-- https://sinasamavati.com
*/

@import "reset";
@import url('https://use.typekit.net/mvm2tyz.css');

html, body {
    font-family: garamond, adobe-garamond-pro, serif;
    font-size: 1.135rem;
    font-weight: 400;
    font-kerning: auto;
    font-feature-settings: "kern";
    line-height: 1.5;
    white-space: normal;
    color: rgba(0, 0, 0, .85);

    display: flex;
    justify-content: center;

    @media (min-width: 48em) {
        font-size: 1.25rem;
    }
}

h1, h2, h3, h4, h5, h6 { line-height: 1.25; }

h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1em; }
h6 { font-size: .75em; }

hr {
    border: 0;
    text-align: center;

    &:after {
        content: "*****";
        line-height: 0;
        vertical-align: sub;
        letter-spacing: .5em;
        margin-right: -.5em;
    }
}

blockquote {
    font-style: italic;
    margin: .5em;
    &:before { content: "– "; }
}

time {
    display: block;
    font-size: .8em;
    font-style: italic;
    text-align: right;
}

p { margin-bottom: 1.25em; }
a { color: #111; }
em { font-style: italic; }
b { font-weight: bold; }

// -------------------------------------------------------------------

.row { max-width: 30em; }
.ma { margin: 1rem 1rem; }
.mv { margin-top: 1rem; margin-bottom: 1rem; }
.mv2 { margin-top: 2rem; margin-bottom: 2rem; }

.o-65 { opacity: .65; }

.link {
    font-style: normal;
    text-decoration: none;
    transition: all .15s ease-in;
    &:hover { transition: all .15s ease-in; }
    &:active { transition: all .15s ease-in; }
    &:focus { transition: all .15s ease-in; outline: 1px dotted currentColor; }
}

.glow * { transition: opacity .15s ease-in; }
.glow:hover *, .glow:focus * { opacity: 1; transition: opacity .15s ease-in; }
