/*
-- https://sinasamavati.com
*/

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i');

html, body {
    font-family: Palatino, "Libre Baskerville", serif;
    font-size: 1.1rem;
    line-height: 1.6;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    @media screen and (min-width: 640px) {
        font-size: 1.15rem;
    }

    @media screen and (min-width: 800px) {
        font-size: 1.2rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    font-weight: 400;
    padding: .2em 0;
}

@for $i from 1 through 6 {
    h#{$i} {
        font-size: abs(8em - $i) / 4;
    }
}

p {
    font-feature-settings: "kern";
    white-space: normal;
    margin-bottom: 1.25em;
}

hr {
    display: block;
    text-align: center;
    vertical-align: middle;
    max-width: 10em;
    margin: 2em auto;
    border: 0;

    &:before {
        content: "*****";
        letter-spacing: 1em;
        padding-left: 1em;
        display: block;
    }
}

li {
    margin-left: .8em;
    margin-bottom: .4em;

    &:before { content: "– "; }
}

blockquote {
    font-style: italic;
    margin: 1.25em;

    li { margin-left: 0; }
}

time {
    display: block;
    font-size: .8em;
    font-style: italic;
    text-align: right;
}

a { color: #111; }
em { font-style: italic; }
b { font-weight: bold; }

.dib { display: inline-block; }

.row { max-width: 40rem; }
.ma { margin: 1rem; }
.mv { margin-top: 2rem; margin-bottom: 2rem; }

.link { font-style: normal; text-decoration: none; transition: all .15s ease-in; }
.link:hover { transition: all .15s ease-in; }
.link:active { transition: all .15s ease-in; }
.link:focus { transition: all .15s ease-in; outline: 1px dotted currentColor; }

.o-65 { opacity: .65; }

.glow * { transition: opacity .15s ease-in; }
.glow:hover *, .glow:focus * { opacity: 1; transition: opacity .15s ease-in; }
